<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	 <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	 <%= stylesheet_link_tag 'dashboard' %>
	 <%= javascript_include_tag :defaults %>
	 <%= GMap.header(:host=>request.host) %>
	 <%= javascript_include_tag 'gmap', 'ym4r-gm' %> 
</head>

<%=request.parameters[:device_uniqueid]%>
<script>
 var map=null;
 var marker=null;
 function initialize() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map_div"));
        map.setCenter(new GLatLng(37.4419, -122.1419), 13);
  		marker = new GMarker(new GLatLng(37.4419,-122.1419),{title : "Device User",draggable : true});
  		map.addOverlay(marker);
  		GEvent.addListener(marker,"dragend",function() {MarkerMoved();});   
      }
    }
 function MarkerMoved()
 {
  var querytype;
  for (i=0;i<document.querytype.queryoption.length;i++)
  {
	if (document.querytype.queryoption[i].checked==true)
	{
		querytype = document.querytype.queryoption[i].value;
	}
  }
  
  if (querytype =='find')
  {
 	<%=remote_function(:url => {:action => 'find', :controller => 'query_prize'}, :with => "'lat='+marker.getLatLng().lat()+'&'+'lng='+marker.getLatLng().lng()") %>
  }
  else if (querytype =='nearest')
  {
  	<%=remote_function(:url => {:action => 'nearest', :controller => 'query_prize'}, :with => "'lat='+marker.getLatLng().lat()+'&'+'lng='+marker.getLatLng().lng()") %>
  }	

 }
 
 
 
 </script>
  <style>
  #map_div {width: 500px; height: 300px; }
  </style>
</head>
	
<body onload="initialize()" onunload="GUnload()">
	<form action="#" onsubmit="showAddress(this.address.value); return false">
         <input class="search_form" type="text" name="address" value="" />&nbsp;
         <input type="submit" value="Go!" class="form-button"  />
	<div id="main">
    <div id="map_div" ></div>
    <div id="notice" style="display:none;color:red;text-align:center;font-weight:bold;"></div>
  </div>
  </form>
  <form name="querytype">
  <input type="radio" name="queryoption" value="find">Query Prize
	<input type="radio" name="queryoption" value="nearest" checked>Query Nearest Neighbor
  </form>
  </body>

</html>