<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	 <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	 <!--<%= stylesheet_link_tag 'dashboard' %>-->
	 <%= javascript_include_tag :defaults %>
	 <%= javascript_include_tag 'gears_init'%> 
	<script> 
	
	function init()
	{
		// Make sure we have Gears. If not, tell the user.
		if (!window.google || !google.gears)
		{
			if (confirm("This application requires Gears to be installed. Install now?"))
			{
				// Use an absolute URL to allow this to work when run from a local file.
				location.href = "http://code.google.com/apis/gears/install.html";
				return;
			}
		}
		
		document.getElementById("status").innerHTML = 'Getting location...';
	}


	function successCallback(position)
	{
		var address = 
		position.gearsAddress.streetNumber + ' '
		+ position.gearsAddress.street + ','
		+ position.gearsAddress.city + ', '
		+ position.gearsAddress.region + ', '
		+ position.gearsAddress.country + ' ('
		+ position.latitude + ', '
		+ position.longitude + ')';
		
		document.getElementById("status").innerHTML = address;
		document.getElementById("locationMap").src = "http://maps.google.com/staticmap?center="+position.latitude+","+position.longitude+"&zoom=14&size=<%=@device.screenwidth%>x128&maptype=mobile&markers="+position.latitude+","+position.longitude+",blue&format=png&sensor=false&key=<%=Ym4r::GmPlugin::ApiKey.get(:host=>request.host)%>";
	}

	function errorCallback(err)
	{
		document.getElementById("status").innerHTML = 'Error retrieving your location: ' + err.message;
	}

	function doLatLng()
	{
		try 
		{
			init();
			var geolocation = google.gears.factory.create('beta.geolocation');
			geolocation.getCurrentPosition(successCallback,errorCallback,{enableHighAccuracy: true,gearsRequestAddress: true });
		}
		catch (e) 
		{
			document.getElementById("status").innerHTML = 'Error using Geolocation API: ' + e.message;
			return;
		}
	}
	
	function doSubmit(action)
	{
		document.getElementById("queryForm").action = "/where/"+action;
		var geolocation = google.gears.factory.create('beta.geolocation');
		geolocation.getCurrentPosition(postCallbackSubmit,errorCallback,{enableHighAccuracy: true,gearsRequestAddress: true });
	}
	
	function postCallbackSubmit(position)
	{
		alert(position.latitude);
		//document.getElementById("queryForm").action = "/where/"+action+"?lat="+position.latitude+"&lng="+position.longitude;
		alert(document.queryForm.lat.value);
		document.queryForm.lat.value = position.latitude;
		document.queryForm.lng.value = position.longitude;
		alert(document.queryForm.lat.value);
		document.getElementById("queryForm").submit();
	}
  	</script>
</head>
<body style="background-color:#FFFFFF;font-size:<%=@device.textsize%>" onload="doLatLng()">
	<div style="background-color:#FFFFFF;text-align:center;"><img src="/images/logo_small.png"/></div>
	<div>
		Our satellites see you here...
		<p id="status"></p>
		<img id="locationMap"/>
	</div>
	<form id="queryForm" name="queryForm">		
		<input type="button" value="Snoop for Loot" onClick="doSubmit('snoop');return false;">
		Sniff for Hints
		Do you know the code word?
		About SuperSecretLabs
		<input type="hidden" name="lat" id="lat" value=""/>
		<input type="hidden" name="lng" id="lng" value=""/>
	</form>
</body>
</html>

