<div id="wrapper" class="quick-sign-up">        

	<div id="cap-top" class="container"></div>
	<div id="header" class="container">
		<div class="inner">
			 <img id="imgLogo" src="/images/super.jpg" />
		        </div>
	        </div>
	        <div id="cap-body" class="container">	       	        
	        
	            <div id="panelSteps">
		 
	                <div id="steps" class="column span-6">
			            
			        </div>
	</div> 
		        <div id="content" class="column prepend-1 span-16 append-1 last">
		        
		            <div id="panelStyle1" class="inner">
		    		        <br>		
    		        		<h1>We will guide you through the player registration process.  You are not committing to anything by signing up here, but we do need few information about you.</h1>
                         
							<% form_for :user, :url => {:action => 'process_player_registration'} do |f| -%>
							  
						 <hr>
             <table class="default" border="0">

							<tbody>
							     <tr><td colspan="2" class="heading"><h2>Create Your Player Account</h2></td></tr>
							     <tr><td class="var"><label>Login</label></td><td><%= f.text_field :login, :class => "textbox340" %></td>
							         <td class="register-error-message">
							           <% if @user.errors[:login] %>
							             <% if @user.errors[:login][0] == 104 %>
							               Login not available - please choose a different login.
							              <% else %>
							                Login <%= @user.errors[:login][0] %>
							              <% end %>
							           <% end %>     
							         </td>
							     </tr>
							     <tr>
							         <td class="var"><label>Email</label></td><td><%= f.text_field :email, :class => "textbox340" %></td>
							         <td class="register-error-message">
                       		<% if @user.errors[:email] %>
                     				Email Address <%= @user.errors[:email][0] %>
                     				<% end %>
                     		</td>							         
							     </tr>
							     <tr><td class="var"><label>Password</label></td><td><%= f.password_field :password, :class => "textbox340" %></td>
							      <td class="register-error-message">
                    		 <% if @user.errors[:password] %>
							             <% if @user.errors[:password][0] == 100 %>
                             Passwords do not match.  Please verify and retype.  
							              <% else %>
							                Password <%= @user.errors[:password][0] %>
							              <% end %>
							           <% end %>
                  		</td>
							     </tr>
							     <tr><td class="var"><label>Confirm Password</label></td><td><%= f.password_field :password_confirmation, :class => "textbox340" %></td></tr>			
			        </tbody>
		          </table>
		          <hr>
							<table class="default" border="0" valign="top">


 							     <tr><td colspan="2" class="heading"><h2>Enter Your Shortcode (Optional)</h2></td></tr>
 							     <tr valign="top"><td class="var"><label>Shortcode</label></td><td><%= text_field_tag :shortcode, '', :class => "textbox340" %>
 							     <%= image_tag '/images/loader.gif', :id=>'spinner', :style=>"display:none" %>
 							     </td></tr>
 							     <tr><td></td><td class="register-error-message" valign="top"><div id="shortcode_device"></div></td></tr>
 							     </tr>

 		          </table>
<%= observe_field ("shortcode",
                  :frequency => 3.0, 
                  :update =>  "shortcode_device",
                  :before => "Element.show('spinner')",
                  :complete => "Element.hide('spinner')",
                  :with => "shortcode",
                  :url => {:action => "check_shortcode"})

                  %>
 		          
 		          <table border="2" width="500">
              <hr>
 							<tbody>
 							     <tr><td colspan="2" class="heading"><h2>Review, accept terms &amp; Complete Signup</h2></td></tr>
 							     <tr><td class="agreement">Please review our Terms of Service and <a href="#">Player Agreement</a>.</td></tr>
 							     <tr><td class="agreement"><span class="highlight"><%= check_box('terms_of_service', 'terms_of_service') %>I have reviewed and agree to all conditions outlined in the User Agreement.</span></td></tr>
 			        </tbody>
 		          </table>
 		          <hr>
		
				            
				            <div class="footer clear">
				               <%= image_submit_tag '/images/create-login-button.png', :class => "wizard-button" %>
				            </div>
	</div>
		        </div>
	        </div>
	        <div id="cap-bottom" class="container"></div>
        </div>
       <% end -%>
</div>        
        

</div>
