<%= error_messages_for :user %>
<div id="wrapper" class="quick-sign-up">        
	<div id="cap-top" class="container"></div>
	<div id="header" class="container">
		<div class="inner">
			 <img id="imgLogo" src="/images/super.jpg" />
		        </div>
	        </div>
	        <div id="cap-body" class="container">	       	        
	        
	            <div id="panelSteps">
		 
	                <div id="steps" class="column span-6">
			            
			        </div>
	</div> 
		        <div id="content" class="column prepend-1 span-16 append-1 last">
		        
		            <div id="panelStyle1" class="inner">
		    		        <br>		
    		        		<h1></h1>
                         
							<% form_for :user, :url => {:action => 'process_sponsor_registration'} do |f| -%>
             <table class="default" border="0">

							<tbody>
							     <tr><td colspan="2" class="heading"><h2>Create Sponsor Account</h2></td></tr>
							     <tr><td class="var"><label>Login</label></td><td><%= f.text_field :login, :class => "textbox340" %> </td></tr>
							     <tr><td class="var"><label>Email</label></td><td><%= f.text_field :email, :class => "textbox340" %></td></tr>
							     <tr><td class="var"><label>Password</label></td><td><%= f.password_field :password, :class => "textbox340" %></td></tr>
							     <tr><td class="var"><label>Confirm Password</label></td><td><%= f.password_field :password_confirmation, :class => "textbox340" %></td></tr>			
			        </tbody>
		          </table>
		          <hr>
							<table class="default" border="0">
 							<tbody>
 							     <tr><td colspan="2" class="heading"><h2>Contact Information</h2></td></tr>
 							     <tr><td class="var"><label>First Name</label></td><td><%= f.text_field :first_name, :class => "textbox340" %> </td></tr>
 							     <tr><td class="var"><label>Last Name</label></td><td><%= f.text_field :last_name, :class => "textbox340" %> </td></tr>
 							     <tr><td class="var"><label>Address Line 1</label></td><td><%= f.text_field :address1, :class => "textbox340" %></td></tr>
 							     <tr><td class="var"><label>Address Line 2</label></td><td><%= f.text_field :address2, :class => "textbox340" %></td></tr>
 							     <tr><td class="var"><label>City</label></td><td><%= f.text_field :city, :class => "textbox340" %></td></tr>
 							     <tr><td class="var"><label>State</label></td><td><%= f.text_field :state, :class => "textbox340" %></td></tr>
 							     <tr><td class="var"><label>ZIP/Postal Code</label></td><td><%= f.text_field :zipcode, :class => "textbox340" %></td></tr>
 							     <tr><td class="var"><label>Country</label></td><td><%= f.text_field :country, :class => "textbox340" %></td></tr>
 							     <tr><td class="var"><label>Phone Number</label></td><td><%= f.text_field :phone_number, :class => "textbox340" %></td></tr>
 							     <tr><td></div></td>
 							     <td><div id="shortcode_device"></td>
 							     </tr>
 			        </tbody>
 		          </table>
 		          
 		          <table class="default" border="0" width="500">
              <hr>
 							<tbody>
 							     <tr><td colspan="2" class="heading"><h2>Review, accept terms &amp; Complete Signup</h2></td></tr>
 							     <tr><td class="agreement">Please review our Terms of Service and <a href="#">Sponsor Agreement</a>.</td></tr>
 							     <tr><td class="agreement"><span class="highlight"><input type="checkbox">I have reviewed and agree to all conditions outlined in the User Agreement.</span></td></tr>
 			        </tbody>
 		          </table>
 		          <hr>
		
				            <div class="footer clear">
				               <%= image_submit_tag '/images/create-login-button.png', :class => "wizard-button" %>
				            </div>
	</div>
		        </div>
	        </div>
	        <div id="cap-bottom" class="container"></div>
        </div>
       <% end -%>
</div>        
        

</div>
