
<!-- css --> 
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/datatable/assets/skins/sam/datatable.css"> 
<!-- js --> 
<script type="text/javascript" src="http://yui.yahooapis.com/combo?2.5.2/build/yuiloader-dom-event/yuiloader-dom-event.js&2.5.2/build/datasource/datasource-beta-min.js&2.5.2/build/element/element-beta-min.js&2.5.2/build/datatable/datatable-beta-min.js&2.5.2/build/json/json-min.js"></script>

<table class="prizes_list">
<tbody>
  <tr><th colspan=4>Your Sponsored Prizes</th></tr>

<% for prize in @prizes %>
  <tr>
  	<td class="name"><%=prize.name%></td>
 	<td class="status">Status: Active</td>
<td class="command"><%= link_to 'Show', prize %></td>
    <td class="command"><%= link_to 'Edit', edit_prize_path(prize) %></td>
    <td class="command"><%= link_to 'Destroy', prize, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

</tbody>
</table>

<br />

<%= link_to 'Add another Prize', new_prize_path %>
