

<div id="container2">
   <h1 id="pagetitle">Create New Prize</h1>
      <div id="MainLeft">
         <form action="#" onsubmit="showAddress(this.address.value); return false">
         <input class="search_form" type="text" name="address" value="1600 Amphitheatre Pky, Mountain View, CA" />&nbsp;
         <input type="submit" value="Go!" class="form-button"  />
		 <div id="map_canvas" style="width: 585px; height: 400px"></div>
         </form>
      </div>

      <div id="MainRight">
	   <div id="featureBOX">
		<% form_for(@prize) do |f| %>
			<%= f.hidden_field 'prizearea' %>
			<%= hidden_field_tag 'center_lat' %>
			<%= hidden_field_tag 'center_lng' %>
			<%= hidden_field_tag 'quantity', '0' %>
			
			<label for="prize_name">Prize Name</label>
			<fieldset><%= f.text_field :name, :size => 32 %></fieldset>
			
			<label for="prize_name">Prize Type</label>
			<fieldset>		
				<select id="prize_prizetype" name="prize[prizetype]" style="width:175px" onchange="javascript:prize_type_selection(this.value)">
					<option value="--">Select Prize Type:</option>
					<option value="Message">Message</option>
					<option value="Money">Money</option>
				</select>
			</fieldset>
			
			<label for="prizeamt">Prize Value (USD)</label>
			<fieldset><%= f.text_field :prizeamt, :size => 10 %></fieldset>
			
			<label for="cheatcode">Cheat Code</label>
			<fieldset><%= f.text_field :cheatcode, :size => 32 %></fieldset>			
				
			<label for="winnermsg">Winner's Message</label>
			<fieldset><%= f.text_field :cheatcode, :style=>'font-size: 0.7em;line-height: 1.2em;width: 225px;height: 80px;', :size => 20 %></fieldset>
		
		  <p>    
		  		 <%= submit_tag "Commit to Award Prize", :onclick=> 'doStuffBeforeSubmit();', :class=> 'form-button' %>
		  </p>
		<% end %>
		</div>
      </div>
</div>