
<% @bodyscript = 'onload="initialize()" onunload="GUnload()"' %>

   <h1 id="pagetitle">Create New Prize</h1>
      <div id="MainLeft">
         <form action="#" onsubmit="showAddress(this.address.value); return false">
         <input class="search_form" type="text" name="address" value="1600 Amphitheatre Pky, Mountain View, CA" />&nbsp;
         <input type="submit" value="Go!" class="form-button"  />
		 <div id="map_canvas" style="width: 585px; height: 400px"></div>
         </form>
      </div>

      <div id="MainRight">
	   <div id="featureBOX">
		<% form_for(@prize) do |f| %>
			<%= f.hidden_field 'prizearea' %>
			<%= hidden_field_tag 'center_lat' %>
			<%= hidden_field_tag 'center_lng' %>
			<%= f.hidden_field 'quantity', :value=>'0' %>
			
			<label for="prize_name">Prize Name</label>
			<fieldset><%= f.text_field :name, :size => 32 %></fieldset>
			
			<label for="prize_name">Prize Type</label>
			<fieldset>
				<%= f.select(:prizetype, [ ['Select Prize Type', '--'],
										   ['Message', 'message'],
										   ['Money', 'money']], {:style => 'width:175px'} )%>
			</fieldset>
			
			<%= observe_field 'prize_prizetype',
							  :update => 'prize-type-menu', 
							  :url    => 'prize_type_select',
							  :with   => 'prize_prizetype'	
  							%>
			
			<div id='prize_type_menu' style="display:none">
				<label for="prizeamt">Prize Value (USD)</label>
				<fieldset><%= f.text_field :prizeamt, :size => 10 %></fieldset>
			</div>	
		
			
			<label for="cheatcode">Cheat Code</label>
			<fieldset><%= f.text_field :cheatcode, :size => 32 %></fieldset>			
				
			<label for="winnermsg">Winner's Message</label>
			<fieldset><%= f.text_area :winnermsg, :style=>'font-size: 0.8em;line-height: 1.2em;width: 225px;height: 80px;' %></fieldset>
		
		  <p>    
		  		 <%= submit_tag "Commit to Award Prize", :style => 'width: 170px', :onclick=> 'doStuffBeforeSubmit();', :class=> 'form-button' %>
		  </p>
		<% end %>
		</div>
      </div>
