

<div id="container2">
   <h1 id="pagetitle">Create New Prize</h1>
      <div id="MainLeft">
         <form action="#" onsubmit="showAddress(this.address.value); return false">
         <input class="search_form" type="text" name="address" value="1600 Amphitheatre Pky, Mountain View, CA" />&nbsp;
         <input type="submit" value="Go!" class="form-button"  />
		 <div id="map_canvas" style="width: 585px; height: 400px"></div>
         </form>
      </div>

      <div id="MainRight">
	   <div id="featureBOX">
		<% form_for(@prize) do |f| %>
			<%= f.hidden_field 'prizearea' %>
			<%= hidden_field_tag 'center_lat' %>
			<%= hidden_field_tag 'center_lng' %>
			<%= hidden_field_tag 'quantity', '0' %>
			
			<label for="prize_name">Prize Name</lablel>
			<fieldset><%= f.text_field :name, :class=>'prize-name-field' %></fieldset>
			
				
			<table>
			<tbody>
			<tr><td class="webform_label">Prize Name</td></tr>
			<tr><td><%= f.text_field :name, :class=>'prize-name-field' %></td></tr>

			<tr><td class="webform_label">Prize Type</td></tr>
			<tr><td class="webform_label">
				<select id="prize_prizetype" name="prize[prizetype]" class="prize-type-field" onchange="javascript:prize_type_selection(this.value)">
					<option value="--">Select Prize Type:</option>
					<option value="Message">Message</option>
				    <option value="Money">Money</option>
				</select>
			</td></tr>
			
			<div id="prize-value" style="visibility: hidden"></div>
			<tr><td class="webform_label">Prize Value</td></tr>
			<tr><td><%= f.text_field :prizeamt, :class=>'prize-value-field' %></td></tr>
			</div>

			<tr><td class="webform_label">Cheat Code</td></tr>
			<tr><td><%= f.text_field :cheatcode, :class=>'cheat-code-field', :size => 20 %></td></tr>
			
			<tr><td class="webform_label">Winner's Message</td></tr>
			<tr><td><%= f.text_area :winnermsg, :cols => 17, :rows => 3, :class=> 'winner-message-field' %></td></tr>
			</tbody>
			</table>
		  <p>    
		  		 <%= submit_tag "Commit to Award Prize", :onclick=> 'doStuffBeforeSubmit();', :class=> 'form-button' %>
		  </p>
		<% end %>
		</div>
      </div>
</div>