<div id="panel1">

      <script>
       var map = null;
    	var geocoder = null;
    	var prizearea = null;
    function initialize() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map_canvas"));
        
        //This is different than code in prizes.html because it centers based on polygon. Ok not to be draggable.	
        map.setCenter(<%=GLatLng.from_georuby(@prize.center).to_javascript%>, 13);
        map.disableDragging();
        prizearea = <%=GPolygon.from_georuby(@prize.prizearea,'#0000FF','5','1','#0000FF','0.2').to_javascript%>
        map.addOverlay(prizearea);
        
      }
    }
    </script>
  

	<table>
	<tbody>
	<tr><td>Prize Label: </td><td><%=@prize.name %></td></tr>
	<tr><td>Prize Type: </td><td><%=@prize.prizetype %></td></tr>
	<tr><td>Prize Value: </td><td><%=@prize.prizeamt %></td></tr>
	<tr><td>Cheat Code: </td><td><%=@prize.cheatcode %></td></tr>
	<tr><td>Winner's Message: </td><td><%=@prize.winnermsg %></td></tr>
	</tbody>
	</table>

<p>
<%= link_to 'Edit Prize', edit_prize_path(@prize) %>
</p>
</div> 

<div id="panel2">
      <div id="map_canvas" style="width: 500px; height: 300px"></div>
</div>
