

<div id="container2">
	  <div id="prize_confirmation">
	  <h2>Your prize has been successfully created</h2>
	  I figured we probably need some information here after a prize has been submitted.  Perhaps some instructions on what they should expect from here... perhaps some more disclaimer, etc etc. 
<p class="info-text">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse eleifend vestibulum ipsum. Curabitur quis mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ullamcorper. Maecenas at orci. Cras nisi. Curabitur quis turpis. Fusce odio. Donec enim velit, mattis eget, porttitor nec, eleifend tincidunt, orci. Etiam sit amet arcu ac eros semper dictum. Sed ac urna. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla facilisi. Aenean urna turpis, ullamcorper nec, congue sit amet, feugiat et, metus. 	
</p>
	  </div>
	
      <div id="MainLeft">  
		<table width="400px" class="info-table" cellpadding="10" cellspacing="5">
		<tr class="info-table"><td>Prize Label: </td><td><%=@prize.name %></td></tr>
		<tr><td>Prize Type: </td><td><%=@prize.prizetype %></td></tr>
		<tr><td>Prize Value: </td><td><%=@prize.prizeamt %></td></tr>
		<tr><td>Cheat Code: </td><td><%=@prize.cheatcode %></td></tr>
		<tr><td>Winner's Message: </td><td><%=@prize.winnermsg %></td></tr>
		</table>
		 
      </div>

      
</div>
