

<div id="container2">
	  <div id="prize_confirmation">
	  <h2>Your prize has been successfully created</h2>
	  </div>
	
      <div id="MainLeft">  
		<table width="400px" class="info-table" cellpadding="10" cellspacing="5">
		<tr class="info-table"><td>Prize Label: </td><td><%=@prize.name %></td></tr>
		<tr><td>Prize Type: </td><td><%=@prize.prizetype %></td></tr>
		<tr><td>Prize Value: </td><td><%=@prize.prizeamt %></td></tr>
		<tr><td>Cheat Code: </td><td><%=@prize.cheatcode %></td></tr>
		<tr><td>Winner's Message: </td><td><%=@prize.winnermsg %></td></tr>
		<%= render :partial => 'map_with_overlay', :object => @prize %>
		</table>
		 
      </div>

      
</div>
