<% content_for :head_for_prizes do %>
	<%= stylesheet_link_tag 'prizes' %>
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAA6RZP3ZouLBJsRfEv4s3jzhT2yXp_ZAY8_ufC3CFXhHIE1NvwkxT6qAbsBjBmEKqdpIQq_13niSn_-Q" type="text/javascript"></script>
<% end %>

<% content_for :body_for_prizes do %>
	 <%=@bodyscript %> class="prizes"onload="initialize()" onunload="GUnload()"
<% end %>

<div id="panel1">

      <script>
       var map = null;
    	var geocoder = null;
    	var prizearea = null;
    function initialize() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map_canvas"));
        
        //This is different than code in prizes.html because it centers based on polygon. Ok not to be draggable.	
        map.setCenter(<%=GLatLng.from_georuby(@prize.center).to_javascript%>, 13);
		map.addControl(new GLargeMapControl());
			var mapControl = new GMapTypeControl();
			map.addControl(mapControl);
        map.disableDragging();
        prizearea = <%=GPolygon.from_georuby(@prize.prizearea,'#0000FF','5','1','#0000FF','0.2').to_javascript%>
        map.addOverlay(prizearea);
        
      }
    }
    </script>
  

	<table>
	<tbody>
	<tr><td>Prize Label: </td><td><%=@prize.name %></td></tr>
	<tr><td>Prize Type: </td><td><%=@prize.prizetype %></td></tr>
	<tr><td>Prize Value: </td><td><%=@prize.prizeamt %></td></tr>
	<tr><td>Cheat Code: </td><td><%=@prize.cheatcode %></td></tr>
	<tr><td>Winner's Message: </td><td><%=@prize.winnermsg %></td></tr>
	</tbody>
	</table>

<p>
<%= link_to 'Edit Prize', edit_prize_path(@prize) %>
</p>
</div> 

<div id="panel2">
      <div id="map_canvas" style="width: 400px; height: 300px"></div><br/>
</div>
