<div id="page-description">
<h2></h2>
<p class="info-text">

</p>
	  </div>
	
<p>
		<table width="100%" id="info-table">
		<tbody>
			<tr class="title-row">
				<td scope="row" class="info-prize-name" colspan=2><%= @prize.name %></td>
			</tr>
			<tr class="info-row">
				<td scope="row" class="info-prize-name" width="175px">Prize Type</td>
				<td><%= @prize.prizetype.camelize %></td>
			</tr>
			<tr class="info-row">
				<td scope="row" class="info-prize-name" width="175px">Prize Value</td>
				<td>$ <%= @prize.prizeamt %></td>
			</tr>
			<tr class="info-row">
				<td scope="row" class="info-prize-name" width="175px">Winner's Message</td>
				<td><%= @prize.winnermsg %></td>
			</tr>
			<tr class="info-row">
				<td scope="row" class="info-prize-name" width="175px">Cheat Code</td>
				<td><%= @prize.cheatcode %></td>
			</tr>
			<tr class="info-row">
				<td scope="row" class="info-prize-name" width="175px">Cheat Hint</td>
				<td><%= @prize.cheathint %></td>
			</tr>
			
			<tr class="info-row">
				<td scope="row" class="info-prize-name" width="175px">Prize Location</td>
				<td><%= render :partial => 'map_with_overlay', :object => @map_config %></td>
			</tr>
			

		</tbody>
		</table>
