<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Dashboard</title>
	 <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	 <%= stylesheet_link_tag 'dashboard' %>
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAA6RZP3ZouLBJsRfEv4s3jzhQMb9-AYg1-1wU8hN8xUDUGXNmNExRhmRt0bizUJvUB9RsfW6A55NZlzg" type="text/javascript"></script>
	 <%= javascript_include_tag 'gmap', 'ym4r-gm' %> 
</head>

<%= @bodyscript %>
<div id="container">

<div id="headersection"><%= render :partial => 'sponsor_navigation' %></div>
<%= yield %>
<div id="footer"><%= render :partial => 'footer' %></div>
</div>
</body>
</html>