<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Prizes: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>	
 
</head>
<body <%=@bodyscript %>>
	<div class="topview">
		<div class="topofheader"></div>
		<div class="midofheader"></div>
		<div class="botmofheader"></div>	
	</div>


<div class="leftview"></div>

<div class="bodyview">
<div class="topbodyview">
	<p style="color: green"><%= flash[:notice] %></p>
</div>
<div class="midbody"><%= yield %></div>
<div class="botmbodyview"></div>
</div>

<div class="rightview"></div>

<div class="bottomview">
	<div class="topoffooter"></div>
	<div class="midoffooter"></div>
	<div class="botmoffooter"></div>	
</div>

</body>
</html>
